@model IEnumerable<ComapnyWebApp.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Employees</h1>
<p>
    <a asp-action="Registration">Create New</a>
</p>
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>    
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.EmployeeCode</td>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>@employee.Email</td>
                <td>@employee.Mobile</td>
                <td>@employee.Gender</td>
                <td>@employee.DOB</td>
                 <td>
@*                     @Html.ActionLink("Edit", null,new{empCode= employee.EmployeeCode}) *@
                    <a asp-action="Edit" asp-route-id="@employee.EmployeeCode">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@employee.EmployeeCode">Delete</a>
                </td> 
            </tr>
        }
    </tbody>
</table>
